<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/jpg" href="/assets/img/monkey.jpg" />

	{% if page.subtitle %}
		<title>{{ site.nick | append: ' - ' | append: page.subtitle}}</title>
	{% else %}
		<title>{{ site.site_name }}</title>
	{% endif %}

	{% if page.slider_active %}
		<!-- Slider CSS -->
		<link rel="stylesheet" href="/ideal_is/ideal-image-slider.css">
		<link rel="stylesheet" href="/ideal_is/default.css">
	{% endif %}

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
