<!-- Use of defined custom variables to change active state of nav bar tabs -->

<li class={{ include.homeActive }}><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
<li class={{ include.aboutActive }}><a href="/about">{{ site.navbar.tabs.tab1 }}</a></li>
<li class={{ include.wp }}><a href="/wp">{{ site.navbar.tabs.tab2 }}</a></li>
<!-- <li class={{ include.gallery }}><a href="/gallery">{{ site.navbar.tabs.tab3 }}</a></li> -->
<li class={{ include.blog }}><a href="/blog">{{ site.navbar.tabs.tab4 }}</a></li>
