<!DOCTYPE html>
<html>
<!-- Include of header -->
{% include header.html %}

<body>
	<!-- navbar-fixed-top -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#default_nav">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">OndrejKascak</a>
			</div>
			<div class="collapse navbar-collapse" id="default_nav">
				<ul class="nav navbar-nav">
					{% if page.currentSite == 'home' %}
						{% include active.html homeActive="active" aboutActive="" wp="" blog="" %}
					{% elsif page.currentSite == 'aboutMe' or page.currentSite == 'gallery' or page.currentSite == 'cv' %}
						{% include active.html homeActive="" aboutActive="active" wp="" blog="" %}
					{% elsif page.currentSite == 'wp' %}
						{% include active.html homeActive="" aboutActive="" wp="active" blog="" %}
					{% elsif page.currentSite == 'blog' %}
						{% include active.html homeActive="" aboutActive="" wp="" blog="active" %}
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<!-- Content -->
	{{ content }}

	<div class="container">
		<div class="well">
			<div class="row">
				<div class="col-md-6">
					<p>Posledná zmena: {{ site.time | date_to_long_string }}</p>
				</div>
				<div class="col-md-6">
					<p>Počet slov na stránke: {{ page.content | number_of_words}}</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Include of footer -->
	{% include footer.html %}

</body>

</html>
