---
layout: default
---

<!-- <div class="container" style="margin-top:70px"> -->
    <div class="row">
        <div class="col-md-2">
            <div class="well nav nav-pills nav-stacked">
              {% if page.currentSite == 'gallery' %}
    						{% include pills_active.html gallery="active" aboutActive="" cv="" %}
    					{% elsif page.currentSite == 'aboutMe' %}
                {% include pills_active.html gallery="" aboutActive="active" cv="" %}
              {% elsif page.currentSite == 'cv' %}
                {% include pills_active.html gallery="" aboutActive="" cv="active" %}
              {% endif %}
            </div>
        </div>
        <div class="col-md-10">
            <div class="well">
                <h1>{{ page.title }}</h1>
                {% if page.currentSite == 'aboutMe' %}
                  <img src="/img/ok_foto.jpg" class="img-rounded center-block" alt="profile photo">
                  <p></p>
                {% endif %}
                {{ content }}
            </div>
        </div>
    </div>
<!-- </div> -->
